<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <style>
      .custom-select {
        font-size: 0.8rem; /* Adjust the font size as needed */
        padding: 0.2rem 0.5rem; /* Adjust the padding as needed */
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/admin/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="admin/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid position-relative d-flex p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-secondary navbar-dark">
          <a href="/admindashboard" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">
              <i class="fa fa-user-edit me-2"></i>DarkPan
            </h3>
          </a>
          <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
              <img
                class="rounded-circle"
                src="img/user.jpg"
                alt=""
                style="width: 40px; height: 40px"
              />
              <div
                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
              ></div>
            </div>
            <div class="ms-3">
              <h6 class="mb-0">ADMIN</h6>
              <span>Admin</span>
            </div>
          </div>
          <div class="navbar-nav w-100">
            <a href="/admindashboard" class="nav-item nav-link active"
              ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
            >
            <a href="/usermanagment" class="nav-item nav-link"
              ><i class="fa fa-th me-2"></i>Usermanage</a
            >
            <a href="/productmanagment" class="nav-item nav-link"
              ><i class="fa fa-keyboard me-2"></i>Productmanage</a
            >
            <a href="/orderManagnment" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Ordermanage</a
            >
            <a href="/catagorymanagment" class="nav-item nav-link"
              ><i class="fa fa-chart-bar me-2"></i>CatagoryManage</a
            >
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Coupons</a>
              <div class="dropdown-menu bg-transparent border-0">
                  <a href="/couponManagment" class="dropdown-item">Coupons View</a>
                  <a href="/addcoupon" class="dropdown-item">Add Coupons</a>
              </div>
          </div>
          </div>
        </nav>
      </div>

      <div class="content">
        <!-- Navbar Start -->

        <!-- Navbar End -->


        <!-- Sale & Revenue Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Order</p>
                            <h6 class="mb-0"><%= totalorder %></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Users</p>
                            <h6 class="mb-0"><%= totaluser %></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Revenue</p>
                            <h6 class="mb-0"><%= totalrevenue %></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Sales Report</button>

                        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                          <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                            <form action="/salesReport" method="get">
                              <input type="date" id="Start" name="startDate">
                              <input type="date" id="end" name="endDate">
                              <input type="submit" class="btn btn-sucess">
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sale & Revenue End -->
        <div>
          <form action="/admindashboard" method="get">
            <select class="form-select custom-select" aria-label="Default select example" name="salestype">
              <option selected>Open this select menu</option>
              <option value="Weekly">Sales Weekly</option>
              <option value="Mounthly">Sales Mounthly</option>
              <option value="Yearly" >Sales yearly</option>
            </select>
            <button type="submit">Submit</button>
          </form>
        </div>


        <!-- Sales Chart Start -->


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
              <% if (salestype==="Weekly") { %>
                <h6>Weekly Graph</h6>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                          <canvas
                          id="myChart"
                          style="width: 100%; max-width: 420px" height="240%" data="<%= data %>" labels="<%= labelsWithoutYearAndMonth  %>"
                        ></canvas>
                        </div>
                    </div>
                </div>

                

                <% } else if (salestype==="Mounthly") {  %>
                  <h6>Mounthly  Graph</h6>
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                          <canvas id="barchart" style="width: 100%; max-width: 420px" mountdata="<%= mountdata %>" monthAndYear="<%= monthsOfCurrentYear %>"  ></canvas>
                        </div>

                    </div>
                  </div>
            </div>
            <% } else { %>
              <h6>Yearly Graph</h6>
              <div class="container pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                              <canvas id="mixedChart" style="width: 100%; max-width: 420px; height: 50%;" orderData="<%= orderData %>"allYears="<%= allYears %>"  ></canvas>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>

                <% } %>

                <div class="container pt-4 px-4">
                  <div class="row g-4">
                      <div class="col-sm-12 col-xl-6">
                          <div class="bg-secondary text-center rounded p-4">
                              <div class="d-flex align-items-center justify-content-between mb-4">
                                <canvas id="piechart" catagorytype="<%= catagoryType %>" catagorycount="<%= catagoryCount %>" style="width: 100%; max-width: 420px" ></canvas>
                              </div>
  
                          </div>
                      </div>
                      </div>
                  </div>

        </div>

      
        <!-- Sales Chart End -->


        <!-- Recent Sales Start -->

        <!-- Recent Sales End -->

          <% if (errorMessage && errorMessage.join(' ')) { %>
            <script>
              alert("Please provide a valid date");
          </script>
          <% } %>

      





    <!-- Include Chart.js library -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>

    <!-- <canvas id="myChart" style="width:100%;max-width:420px"></canvas> -->

    <script>

   const chartValue= document.getElementById("myChart");
const dataValue=chartValue.getAttribute('data');
const labelValues=chartValue.getAttribute('labels')

console.log(typeof(dataValue),typeof(labelValues))




      const xValues = ["Thursday","Friday","Saturday","Sunday","Monday","Tuesday","Wednesday"];
      const yValues = dataValue;
      const barColors = ["red", "green", "blue", "orange", "brown","yellow","blue"];

      new Chart("myChart", {
        type: "bar",
        data: {
          labels:labelValues.split(','),
          datasets: [
            {
              backgroundColor: barColors,
              data: dataValue.split(','),
            },
          ],
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "World Wine Production 2018",
          },
        },
      });
    </script>

    <script>
    //   const labels = Utils.months({ count: 7 });
      const chart = document.getElementById("barchart");
      const BarDates=chart.getAttribute('mountdata');
      const monthAndYear=chart.getAttribute('monthAndYear')
      const data = {
        labels:  monthAndYear.split(','),
        datasets: [
          {
            label: "My First Dataset",
            data: BarDates.split(','),
            backgroundColor: [
              "rgba(255, 99, 132, 0.2)",
              "rgba(255, 159, 64, 0.2)",
              "rgba(255, 205, 86, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(54, 162, 235, 0.2)",
              "rgba(153, 102, 255, 0.2)",
              "rgba(201, 203, 207, 0.2)",
              "rgba(255, 205, 86, 0.2)",
              "rgba(255, 99, 132, 0.2)",
              "rgba(75, 192, 192, 0.2)",
              "rgba(255, 205, 86, 0.2)",
              "rgba(54, 162, 235, 0.2)",

            ],
            borderColor: [
              "rgb(201,52,244)",
              "rgb(255, 159, 64)",
              "rgb(255, 205, 86)",
              "rgb(75, 192, 192)",
              "rgb(54, 162, 235)",
              "rgb(153, 102, 255)",
              "rgb(201, 203, 207)",
              "rgb(255, 205, 86)",
              "rgb(255, 159, 64)",
              "rgb(54, 162, 235)",
              "rgb(75, 192, 192)",
              "rgb(201,52,244)",
            ],
            borderWidth: 1,
          },
        ],
      };

      const config = {
        type: "bar",
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };

      new Chart(chart, config);
    </script>
<script>
  const mixedchart = document.getElementById('mixedChart');
  const orderData=mixedchart.getAttribute('orderData');
  const allYears=mixedchart.getAttribute('allYears');
  const ctx = mixedchart.getContext('2d');

  const datas = {
    labels: allYears.split(','),
    datasets: [{
      type: 'bar',
      label: 'Bar Dataset',
      data: orderData.split(','),
      borderColor: 'rgb(255, 99, 132)',
      backgroundColor: 'rgba(255, 99, 132, 0.2)'
    }, {
      type: 'line',
      label: 'Line Dataset',
      data: [50, 50, 50, 50],
      fill: false,
      borderColor: 'rgb(54, 162, 235)'
    }]
  };

  const options = {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  };

  const configs = {
    type: 'bar',
    data: datas, // Corrected variable name
    options: options
  };

  new Chart(ctx, configs);
</script>

<script>
  const piechart = document.getElementById('piechart');
  const catagorycount=piechart.getAttribute('catagorycount')
  const catagorytype=piechart.getAttribute('catagorytype')
  const piedata = {
    labels: catagorytype.split(','),
    datasets: [{
      label: 'My First Dataset',
      data: catagorycount.split(','),
      backgroundColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)'],
      hoverOffset: 4
    }]
  };

  const pieconfig = {
    type: 'pie',
    data: piedata, // Corrected this line
  };

  new Chart(piechart, pieconfig);
</script>


  </body>
</html>