<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
      
    </style>
 <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <!-- <link rel="stylesheet" href="/bootstrap.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" >
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- //Fonts -->
</head>
<body>
  <div class="main-sec inner-page">
    <!-- //header -->
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <!-- nav -->
            <div class="top-w3pvt d-flex">
                <div id="logo">
                    <h1> <a href="index.html"><span class="log-w3pvt">B</span>cart</a> <label class="sub-des">Online Store</label></h1>
                </div>

                <div class="forms ml-auto">
                    <a href="/login" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                    <a href="/signup" class="btn"><span ><i class="fa-solid fa-user-plus"></i></span> Sign Up</a>
                </div>
            </div>
            <div class="nav-top-wthree">
                <nav>
                    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                    <input type="checkbox" id="drop" >
                    <ul class="menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li >
                            <!-- First Tier Drop Down -->
                            <a href="/cart">Cart</a>

                        </li>

                        <li ><a href="/products">Collections</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
                <div class="search-form ml-auto">
                    <div class="form-w3layouts-grid">
                        <form action="#" method="post" class="newsletter">
                            <input class="search" type="search" placeholder="Search here..." required="">
                            <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- //header -->
</div>
  <!-- cart + summary -->
 
  <section class="h-100 h-custom" style="background-color: #f0f0f0;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">3 items</h6>
                    </div>
                    <hr class="my-4">
                    <% user.cartitems.forEach(product => { %>

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="/uploads/<%= product.productId.productimage[0].filename %>" class="img-fluid rounded-3" alt="">

                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted"><%= product.productId.productname %></h6>
                        <h6 class="text-black mb-0"><%= product.productId.productdescription %></h6>
                      </div>
                      <div class="quantity-select" product-id="<%= product._id %>" user-id="<%= userid %>">
                        <form>
                          <div class="value-button" id="decrease" onclick="decreaseValue('<%= product.productId._id %>' ,'<%= user._id %>')" value="Decrease Value">-</div>
                          <input type="number" style="padding-bottom: 4px; width: 8%;" min="1" name="number" id="number-<%= product.productId._id %>" data-value="<%= product.quantity %>" value="<%= product.quantity %>">
                          <div class="value-button" id="increase" onclick="increaseValue('<%= product.productId._id %>','<%= user._id %>')" value="Increase Value">+</div>
                        </form>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0"><%= product.productId.productprice %></h6>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" >
                        <h6 class="mb-0" id="display-<%= product.productId._id %>"><%= product.quantity %></h6>
                      </div>
                      <span id="display-content-<%= product.productId._id %>" product-price="<%= product.productId.productprice %>"></span>
                      <form action="/remove/<%= userid %>/<%= product.productId._id %> " id="Remove-button" product-data="<%= product.productId._id %>" user-data="<%= userid %>"  method="post">
                        <button class="btn btn-light border text-danger icon-hover-danger">Remove</button>
                        </form>
                    </div>
                    <% }) %>



                    <div class="pt-5">
                      <h6 class="mb-0"><a href="/products" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total Price</h5>
                      <h5 id="total-price"><%= totalPrice %></h5>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Discount</h5>
                      <h5 id="totaloffer"><%= totalOffer %></h5>
                    </div>
            


                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5 id="real-total-price"><%= realtotalAmount %> </h5>
                    </div>
                    <a href="/checkout"><button type="button" class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark">Go To Checkout</button></a>

  

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cart + summary -->

  <!-- Recommended -->

  <!-- Footer -->

  <!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>

   function increaseValue(productId,userid) {
    const inputElement = document.getElementById(`number-${productId}`);
  console.log('input.value',inputElement.value);
  var value = parseInt(inputElement.value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  inputElement.value = value;

  // const inputElement = document.getElementById(`number-${productId}`);

const quantity = inputElement.value;
console.log('quantity',quantity);


  fetch(`/incrementquantity/${userid}/${productId}/${quantity}`, {
        method: 'post',
      })

      .then((response) => {
      if (response.ok) {
        console.log("sucess");
        
      
       const displayQuantity = document.getElementById(`display-${productId}`);
        displayQuantity.textContent = quantity;
      

        
    const priceElement = document.getElementById(`display-content-${productId}`);


    
        const total=priceElement.getAttribute('product-price');
        const totalprice=document.getElementById('total-price');
        const realtotalprice=document.getElementById('real-total-price');
      
          const totalAmount=parseFloat(totalprice.textContent);
        totalprice.textContent=totalAmount+parseFloat(total);
        console.log('total',total,totalAmount);

       
        realtotalprice.textContent=totalAmount+parseFloat(total);
        return response.json()
            

     } else {
        console.log("Failed to update the quantity");
      }
    }).then((data)=>{
      console.log("data.totalOffer",data.totalOffer)
document.getElementById('totaloffer').textContent=data.totalOffer

// real total Price after discount

const amount=document.getElementById('real-total-price').textContent
document.getElementById('real-total-price').textContent=parseInt(amount)-parseInt(document.getElementById('totaloffer').textContent)

    })
    .catch((error) => {
      console.error(error);
    });


  // You can update the total price here if needed
}

function decreaseValue(productId,userid) {
  const inputElement = document.getElementById(`number-${productId}`);
  var value = parseInt(inputElement.value, 10);
  value = isNaN(value) ? 0 : value;
  value = value <= 1 ? 1 : value - 1;
  console.log(inputElement.value)
  console.log("value",value)


  inputElement.value = value;
  const quantity = inputElement.value;
  console.log("quantity",quantity);
  console.log("userid",userid,productId);

  // router.post('/decrementquantity/:userid/:productid/:quantity',decrementquantity);


  
  fetch(`/decrementquantity/${userid}/${productId}/${quantity}`, {
        method: 'post',
      })

      .then((response) => {
      if (response.ok) {
        console.log("sucess");
        const displayQuantity = document.getElementById(`display-${productId}`);
        displayQuantity.textContent = quantity;
        
        const priceElement = document.getElementById(`display-content-${productId}`);
        const total=priceElement.getAttribute('product-price');
        const totalprice=document.getElementById('total-price');
        const realtotalprice=document.getElementById("real-total-price");
        const totalAmount=parseFloat(totalprice.textContent);
          if(quantity<=1 ){
        // alert('minimum quantity is 1 plz increase it');
      window.location.reload();

          }
          else{    
        totalprice.textContent=totalAmount-parseFloat(total);
        console.log('total',total,totalAmount);

       
        realtotalprice.textContent=totalAmount-parseFloat(total);
        return response.json()

          }

           

      } else {
        console.log("Failed to update the quantity");
      }
    }).then((data)=>{
      console.log("data.totalOffer",data.totalOffer)
      document.getElementById('totaloffer').textContent=data.totalOffer

      // real total Price after discount

const amount=document.getElementById('real-total-price').textContent
document.getElementById('real-total-price').textContent=parseInt(amount)-parseInt(document.getElementById('totaloffer').textContent)
    })
    .catch((error) => {
      console.error(error);
    });

  
 }
 


    // quantity increment

//     const quantitySelects = document.querySelectorAll('.quantity-select');
//   quantitySelects.forEach(select => {
//   const userid = select.getAttribute('user-id');
//   const productid = select.getAttribute('product-id');
//   const inputField = select.querySelector('#number');

//   inputField.addEventListener('change', async () => {
//     const quantity = inputField.value;

//     try {
//       const response = await fetch(`/incrementquantity/${userid}/${productid}/${quantity}`, {
//         method: 'post',
//       });

//       if (response.ok) {
//         const displayQuantity = select.querySelector('#display-quantity');
//         displayQuantity.textContent = quantity;

        
//       } else {
//         console.log("Failed to update the quantity");
//       }
//     } catch (error) {
//       console.error(error);
//     }
//   });
// });





// remove cart using fetch
// const removeButtons = document.querySelectorAll('.btn.text-danger.icon-hover-danger');

// removeButtons.forEach((button) => {
//   console.log("kkkkkkk")
//   button.addEventListener('click', (event) => {
//     const productId = button.getAttribute('product-data');
//     const userId = button.getAttribute('user-data');

//     // Send a DELETE request to remove the item from the server
//     fetch(`/remove/${userId}/${productId}`, {
//       method: 'POST',
//     })
//       .then((response) => {
//         if (response.ok) {

//           console.log("ok");
//         } else {
//           console.log("Failed to remove the item");
//         }
//       })
//       .catch((error) => {
//         console.error(error);
//       });
//   });
// });




   


  




   </script>

</body>
</html>