<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetHub</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>





    <-- Include jQuery -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->

    <!-- Include Bootstrap JS (3.3.7) -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <!-- Include MDB JS (6.4.2) -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script> -->
    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <!-- <link rel="stylesheet" href="/bootstrap.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" >
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- //Fonts -->

</head>
<body>
  <div class="main-sec inner-page">
    <!-- //header -->
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <!-- nav -->
            <div class="top-w3pvt d-flex">
                <div id="logo">
                    <h1> <a href="index.html"><span class="log-w3pvt">G</span>adgetHub</a> <label class="sub-des">Online Store</label></h1>
                </div>

                <div class="forms ml-auto">
                    <a href="/login" class="btn"><span class="fa fa-user-circle-o"></span> Sign In</a>
                    <a href="/signup" class="btn"><span ><i class="fa-solid fa-user-plus"></i></span> Sign Up</a>
                </div>
            </div>
            <div class="nav-top-wthree">
                <nav>
                    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                    <input type="checkbox" id="drop" >
                    <ul class="menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li >
                            <!-- First Tier Drop Down -->
                            <a href="/cart">Cart</a>

                        </li>

                        <li><a href="/products">Collections</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
                <div class="search-form ml-auto">
                    <div class="form-w3layouts-grid">
                        <form action="#" method="post" class="newsletter">
                            <input class="search" type="search" placeholder="Search here..." required="">
                            <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- //header -->
</div>

      <section class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8 mb-4">
              <!-- Checkout -->
              <div class="card shadow-0 border">
                <div class="p-4">
                  <h5 class="card-title mb-3">Add Address</h5>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Address
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="form-data" onsubmit="return validateModalForm()">
          <div class="mb-3">
            <label for="Street" class="form-label">Street</label>
            <input type="text" class="form-control" id="street" name="street">
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" name="city">
          </div>
          <div class="mb-3">
            <label for="State" class="form-label">State</label>
            <input type="text" class="form-control" id="state" name="state">
          </div>
          <div class="mb-3">
            <label for="Pincode" class="form-label"> Pincode</label>
            <input type="text" class="form-control" id="pincode" name="pincode">
          </div>
          <div class="mb-3">
            <label for="Country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="country">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Address</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

                  <hr class="my-4">

                  <h5 class="card-title mb-3"> Address</h5>
                  <% for( let i = 0; i < address.length; i++ ) { %>
                    <div class="row mb-3">
                        <div class="col-lg-4 mb-3">
                          <!-- Default checked radio -->

                            <div class="form-check h-100 border rounded-3">
                              <div class="p-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" data-address-id="<%= address[i]._id %>" id="flexRadioDefault1" checked />
                                <label class="form-check-label" for="flexRadioDefault1">
                                      Street:<%= address[i].street %> <br>
                                        City: <%= address[i].city %><br>
                                        State: <%= address[i].state %> <br>
                                        Country: <%= address[i].country %> <br>
                                        Pincode:<%= address[i].pincode  %> <br>
                                </label>
                             
                              </div>
                            </div>


                        </div>
                      </div>

                  <% } %>




                </div>
              </div>
              <!-- Checkout -->
            </div>
            <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
              <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                <h6 class="mb-3">Summary</h6>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Total price:</p>
                  <p id="realTotal" class="mb-2"><%= product.totalPrice  %></p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Coupon Discount:</p>
                  <p id="Discount" class="mb-2 text-danger">0</p>
                </div>
                <!-- <div class="d-flex justify-content-between">
                  <p class="mb-2">Shipping cost:</p>
                  <p class="mb-2">+ $14.00</p>
                </div> -->
                <hr />
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Total price:</p>
                  <p id="totalPrice" class="mb-2 fw-bold"><%= product.totalPrice  %></p>
                </div>

                <div class="input-group mt-3 mb-4">
                  <input type="text" id="couponCode" class="form-control border" name="couponCode" placeholder="Promo code" >
                  <button type="submit" id="coupon" class="btn btn-light text-primary border">Apply</button>
                </div>
                <!-- Modal Availabiliy coupon -->
      <button id="myBtn">Show Available Coupons</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">
      
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
        <% coupon.forEach(coupon => { %>
          <p><%= coupon.couponCode %></p>
        <% }) %>
          
        </div>
      
      </div>
      <!-- modal ends here -->


                <hr />
                <h6 class="text-dark my-4">Items in cart</h6>

                <% userproduct.forEach(product => { %>
                  <div class="d-flex align-items-center mb-4">
                    <div class="me-3 position-relative">
                      <img src="/uploads/<%= product.productId.productimage[0].filename %>" style="height: 96px; width: 96x;" class="img-sm rounded border" alt="" >
                    </div>
                    <div class="">
                     <p><%= product.productId.productname %></p>
                     <p><%= product.quantity %></p>
                    </div>
                  </div>

                <% }) %>
                <div class="price text-muted">Total Amount:<%= product.totalPrice  %>
                  </div>
                <div class="mb-3">
                  <label for="paymentMethod" class="form-label">Payment Method</label>
                  <select class="form-select" id="paymentMethod" name="paymentMethod">
                      <option value="Cash on Delivery">Cash on Delivery</option>
                      <option value="Razor Pay">Razor Pay</option>
                      <option value="Wallet Payment">Wallet Payment</option>
                  </select>
              </div>
              <button type="button" id="button" class="btn btn-primary" >Purchase</button>
              </div>
            </div>
          </div>
        </div>

      </section>
     

      <!-- Footer -->
      <!-- Footer -->
      <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script> -->
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Using Moment.js from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>




    <script>

document.getElementById('form-data').addEventListener('submit', async (event) => {
  event.preventDefault();

  const street = document.getElementById('street').value;
  const city = document.getElementById('city').value;
  const state = document.getElementById('state').value;
  const pincode = document.getElementById('pincode').value;
  const country = document.getElementById('country').value;

  if (street.trim() === '') {
            alert('Street cannot be empty');
            return false;
        }

        // Example: Check if Pincode is a valid 6-digit number
        const pincodePattern = /^[0-9]{6}$/;
        if (!pincodePattern.test(pincode)) {
            alert('Please enter a valid 6-digit pincode');
            return false;
        }


  const data = {
    street: street,
    city: city,
    state: state,
    pincode: pincode,
    country: country
  };

  try {
    const response = await fetch('/addaddress', {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json'
      }
    });

    if (response.ok) {
      // Reload the page or perform any other necessary actions on success
      window.location.reload();
      console.log('Success');
    } else {
      // Handle non-successful response (e.g., display an error message)
      console.error('Failed to add address');
    }
  } catch (error) {
    // Handle fetch errors (e.g., network issues)
    console.error('Error during fetch:', error);
  }
});




 const paymentMethod=document.getElementById('paymentMethod');
 if(!paymentMethod){
  alert("plz select a payment method");
 }
</script>

<script>


document.getElementById('button').addEventListener('click', (event) => {

  if(paymentMethod.value==="Cash on Delivery"){

    const addressId = document.querySelector('input[name="flexRadioDefault"]:checked').getAttribute('data-address-id');
  console.log("paymentMethod",paymentMethod.value)
  if (!addressId) {
    alert("Please select an address before proceeding.");
  } else {
    // Do something with the selectedAddressId, e.g., send it to your server for processing.

    console.log("Selected Address ID:",addressId );

   const couponValueApply=document.getElementById('totalPrice').textContent

    fetch(`/addorder/${addressId}`,{
      method:'post',
      headers: {
          'Content-Type': 'application/json' 
        },
        body: JSON.stringify({couponValueApply})
    }).then((res)=>{
      if(res.ok){
        window.location.href='/ordersucessfull'

      }else{
       console.log("error ocuurred no response")
      }
     
    }).catch((error)=>{
      console.log(error)
    })
  }
    
  }else if(paymentMethod.value==="Razor Pay"){
    console.log('razorpay');

    const addressId = document.querySelector('input[name="flexRadioDefault"]:checked').getAttribute('data-address-id');
  

    if(!addressId){
      alert("Please select an address before proceeding.");
    }else{
      const couponValueApply=document.getElementById('totalPrice').textContent
      console.log("Selected Address ID:",addressId );
    fetch(`/razor/${addressId}`,{
      method:'post',
      headers: {
          'Content-Type': 'application/json' 
        },
        body: JSON.stringify({couponValueApply})
    }).then((res)=>{
      if(!res.ok){
        throw new Error("failed to fetch data");
      }
      return res.json();

   
     
    }).then((paymentDetails)=>{
      console.log("paymentDetails.amount",paymentDetails.razorpayOrder.id,paymentDetails.razorpayOrder.currency,paymentDetails)
      const amount=parseInt(paymentDetails.razorpayOrder.amount)

      const options = {
                key: 'rzp_test_uFXpXdjicI7Qrg', // Replace with your Razorpay Key
                amount:amount,
                currency:paymentDetails.razorpayOrder.currency,
                name: 'Bcart',
                description: 'payment for your product',
                order_id: paymentDetails.razorpayOrder.id,
                handler: function (response) {
                    // Handle success, you can send the payment ID to the server
                    console.log('Payment successful!', response);
                    alert("payment sucessfull")
                    window.location.href = '/ordersucessfull';
                },
                prefill: {
                    name: 'Anfas Muhammed',
                    email: 'anfasmuhammed936@gmail.com',
                    contact: '8590183325',
                },
                theme: {
                    color: '#528FF0',
                },
            };

            const rzp = new Razorpay(options);
            rzp.open();
    })
    .catch((error)=>{
      console.log(error);
    })

    }
  }else if(paymentMethod.value==="Wallet Payment"){
    const addressId = document.querySelector('input[name="flexRadioDefault"]:checked').getAttribute('data-address-id');
    if(!addressId){
      alert("plz select an address")
    }

    const couponValueApply=document.getElementById('totalPrice').textContent

    fetch(`walletpayment/${addressId}`,{
      method:'post',
      headers: {
          'Content-Type': 'application/json' 
        },
        body: JSON.stringify({couponValueApply})
    }).then((res)=>{
      if(res.ok){
return res.json()
      }else{
        alert("res is not okkay...")
      }
    })
    .then((data)=>{
    if(data.message){
      alert(data.message)
    }else{
      window.location.href = '/ordersucessfull';
    }

  

      
    }).
    catch((error)=>{
      console.log("erroor",error)
    })


  
  }else{
    alert("plz choose any method of payment")
  }



});




</script>


<script>
  document.getElementById('coupon').addEventListener('click', async (event) => {
    // event.currentTarget.disabled = true;
   event.preventDefault()
    const couponCode = document.getElementById('couponCode').value;

    const couponValue = {
      couponCode: couponCode
    };
    console.log("adfg",couponCode);

    try {
      const response = await fetch('/redeemCoupon', {
        method: 'post',
        headers: {
          'Content-Type': 'application/json' 
        },
        body: JSON.stringify(couponValue)
      });

      if (response.ok) {
        const {discountAmount,minimumpurchase,expirationDate,message} = await response.json();
        if(message){
         return alert(message)
        }
        console.log("sucess");
        const Discount=document.getElementById('Discount');
        const totalPrice=document.getElementById('totalPrice');
        const min=parseInt(totalPrice.textContent);
        console.log(parseInt(min),parseInt(minimumpurchase))


        if (parseInt(min) > parseInt(minimumpurchase)) {
  // Get the current date
  const currentDate = new Date();  
  // Convert the expiration date string to a Date object
  const formattedDate = new Date(expirationDate);
  console.log("date",currentDate,formattedDate,expirationDate);
  if (currentDate < formattedDate) {
    // Replace with the actual expiration date
    Discount.textContent = parseInt(discountAmount);
    totalPrice.textContent = totalPrice.textContent - parseInt(discountAmount);
// coupon apply button change to remove
if(document.getElementById('coupon').textContent==="Remove Coupon"){
 const totalPriceAfterRemove= document.getElementById('totalPrice').textContent
 document.getElementById('totalPrice').textContent=document.getElementById('realTotal').innerText
 document.getElementById('Discount').innerHTML=0
 document.getElementById('coupon').textContent="Apply"
return alert('coupon removed Sucessfully');

}
document.getElementById('coupon').textContent="Remove Coupon"

   return alert('Coupon applied sucessfully');
  } else {
    return alert('Coupon expired');
  }
} else {
return  alert(`You want to purchase ${minimumpurchase}`);
}

      } else {
        console.error('Failed to redeem the coupon');
      }
    } catch (error) {
      console.error('Error during coupon redemption:', error);
    }
  });
</script>



<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close");
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
  


</body>
</html>