<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GadgetHub</title>
    <style>
        body{
    background:#eee;    
}
.widget-author {
  margin-bottom: 58px;
}
.author-card {
  position: relative;
  padding-bottom: 48px;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .09);
}
.author-card .author-card-cover {
  position: relative;
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.author-card .author-card-cover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: 0.5;
}
.author-card .author-card-cover > .btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0 10px;
}
.author-card .author-card-profile {
  display: table;
  position: relative;
  margin-top: -22px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  z-index: 5;
}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
  display: table-cell;
  vertical-align: middle;
}
.author-card .author-card-profile .author-card-avatar {
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
  overflow: hidden;
}
.author-card .author-card-profile .author-card-avatar > img {
  display: block;
  width: 100%;
}
.author-card .author-card-profile .author-card-details {
  padding-top: 20px;
  padding-left: 15px;
}
.author-card .author-card-profile .author-card-name {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
}
.author-card .author-card-profile .author-card-position {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 600;
}
.author-card .author-card-info {
  margin-bottom: 0;
  padding: 0 25px;
  font-size: 13px;
}
.author-card .author-card-social-bar-wrap {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
}
.author-card .author-card-social-bar-wrap .author-card-social-bar {
  display: table;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
}
.btn-style-1.btn-white {
    background-color: #fff;
}
.list-group-item i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.list-group-item.active:not(.disabled) {
    border-color: #e7e7e7;
    background: #fff;
    color: #ac32e4;
    cursor: default;
    pointer-events: none;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item, .list-group-item-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:not(.disabled)::before {
    background-color: #ac32e4;
}

.list-group-item::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: '';
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');*{padding: 0;margin: 0;box-sizing: border-box}body{background-color: #777;font-family: 'Poppins', sans-serif}.wrapper{background-color: #222;min-height: 100px;max-width: 800px;margin: 10px auto;padding: 10px 30px}.dark,.input:focus{background-color: #222}.navbar{padding: 0.5rem 0rem}.navbar .navbar-brand{font-size: 30px}#income{border-right: 1px solid #bbb}.notify{display: none}.nav-item .nav-link .fa-bell-o, .fa-long-arrow-down, .fa-long-arrow-up{padding: 10px 10px;background-color: #444;border-radius: 50%;position: relative;font-size: 18px}.nav-item .nav-link .fa-bell-o::after{content: '';position: absolute;width: 7px;height: 7px;border-radius: 50%;background-color: #ffc0cb;right: 10px;top: 10px}.nav-item input{border: none;outline: none;box-shadow: none;padding: 3px 8px;width: 75%;color: #eee}.nav-item .fa-search{font-size: 18px;color: #bbb;cursor: pointer}.navbar-nav:last-child{display: flex;align-items: center;width: 40%}.navbar-nav .nav-item{padding: 0px 0px 0px 10px}.navbar-brand p{display: block;font-size: 14px;margin-bottom: 3px}.text{color: #bbb}.money{font-family: 'Lato', sans-serif}.fa-long-arrow-down, .fa-long-arrow-up{padding-left: 12px;padding-top: 8px;height: 30px;width: 30px;border-radius: 50%;font-size: 1rem;font-weight: 100;color: #28df99}.fa-long-arrow-up{color: #ffa500}.nav.nav-tabs{border: none}.nav.nav-tabs .nav-item .nav-link{color: #bbb;border: none}.nav.nav-tabs .nav-link.active{background-color: #222;border: none;color: #fff;border-bottom: 4px solid #fff}.nav.nav-tabs .nav-item .nav-link:hover{border: none;color: #eee}.nav.nav-tabs .nav-item .nav-link.active:hover{border-bottom: 4px solid #fff}.nav.nav-tabs .nav-item .nav-link:focus{border-bottom: 4px solid #fff;color: #fff}.table-dark{background-color: #222}.table thead th{text-transform: uppercase;color: #bbb;font-size: 12px}.table thead th, .table td, .table th{border: none;overflow: auto auto}td .fa-briefcase, td .fa-bed, td .fa-exchange, td .fa-cutlery{color: #ff6347;background-color: #444;padding: 5px;border-radius: 50%}td .fa-bed, td .fa-cutlery{color: #40a8c4}td .fa-exchange{color: #b15ac7}tbody tr td .fa-cc-mastercard, tbody tr td .fa-cc-visa{color: #bbb}tbody tr td.text-muted{font-family: 'Lato', sans-serif}tbody tr td .fa-long-arrow-up, tbody tr td .fa-long-arrow-down{font-size: 12px;padding-left: 7px;padding-top: 3px;height: 20px;width: 20px}.results span{color: #bbb;font-size: 12px}.results span b{font-family: 'Lato', sans-serif}.pagination .page-item .page-link{background-color: #444;color: #fff;padding: 0.3rem .75rem;border: none;border-radius: 0}.pagination .page-item .page-link span{font-size: 16px}.pagination .page-item.disabled .page-link{background-color: #333;color: #eee;cursor: crosshair}@media(min-width:768px) and (max-width: 991px){.wrapper{margin: auto}.navbar-nav:last-child{display: flex;align-items: start;justify-content: center;width: 100%}.notify{display: inline}.nav-item .fa-search{padding-left: 10px}.navbar-nav .nav-item{padding: 0px}}@media(min-width: 300px) and (max-width: 767px){.wrapper{margin: auto}.navbar-nav:last-child{display: flex;align-items: start;justify-content: center;width: 100%}.notify{display: inline}.nav-item .fa-search{padding-left: 10px}.navbar-nav .nav-item{padding: 0px}#income{border: none}}@media(max-width: 400px){.wrapper{padding: 10px 15px;margin: auto}.btn{font-size: 12px;padding: 10px}.nav.nav-tabs .nav-link{padding: 10px}}
    </style>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" >
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <div class="main-sec inner-page">
    <!-- //header -->
    <header class="py-sm-3 pt-3 pb-2" id="home">
        <div class="container">
            <!-- nav -->
            <div class="top-w3pvt d-flex">
                <div id="logo">
                    <h1> <a href="index.html"><span class="log-w3pvt">G</span>adgetHub</a> <label class="sub-des">Online Store</label></h1>
                </div>

                <div class="forms ml-auto">
                    <a href="/login" class="btn"><span ><i class="fa-solid fa-hands"></i></span> Sign In</a>
                    <a href="/signup" class="btn"><span><i class="fa-solid fa-user-plus"></i></span> Sign Up</a>
                </div>
            </div>
            <div class="nav-top-wthree">
                <nav>
                    <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <a href="/cart">Cart</a>
                        </li>

                        <li><a href="/products">Collections</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
                <div class="search-form ml-auto">
                    <div class="form-w3layouts-grid">
                        <form action="#" method="post" class="newsletter">
                            <input class="search" type="search" placeholder="Search here..." required="">
                            <button class="form-control btn" value=""><span class="fa fa-search"></span></button>

                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- //header -->
</div>
    <div class="container mt-5">
        <div class="row">
       

            <div class="wrapper rounded"> 
                <nav class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start"> <a class="navbar-brand" href="#"> Wallet Transactions </a> <p>Wallet Amount <%= walletHistory.balance %></p></nav> 
                <div class="row mt-2 pt-2">
                        <div class="col-md-6"> 
                            <div class="d-flex justify-content-md-end align-items-center"> 
                               
                             </div>
                             </div>
                             </div>
                          <div class="table-responsive mt-3"> <table class="table table-dark table-borderless">
                                     <thead>
                                         <tr>
                                             <th scope="col">Transaction type</th>
                                              <th scope="col">Transaction Amount</th>
                                               <th scope="col">Date</th>
                                             </tr> 
                                            </thead>
                                             <tbody>
                                                <% walletHistory.transactions.forEach(wallet => { %>
                                                    <tr> 
                                                        <td scope="row"> 
                                                    <span class="fa fa-briefcase mr-1"></span> <%= wallet.transactionType %> </td>
                                                     <td><span class="fa fa-cc-mastercard"><%= wallet.amount %></span></td>
                                                      <td class="orderdate" orderdate="<%= wallet.transactionDate %>"><%= wallet.transactionDate %></td>
                                                       <td class="d-flex justify-content-end align-items-center"> 
                            
                                                     </tr>
                                                                                </tr>
                                                <% }) %>
                                               </tbody> </table>  </div> </div>
             </div>




    

</div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

<script>
        document.addEventListener("DOMContentLoaded", function () {
            const orderDateElements = document.querySelectorAll('.orderdate');


        orderDateElements.forEach(orderdate => {
            const date = orderdate.getAttribute('orderdate');
            var momentDate = moment(date);
            var formattedDate = momentDate.format('YY-MM-DD');
            orderdate.textContent = formattedDate;
        });
    });
</script>
</script>
</body>
</html>